<% if @patient_id %>
  <div class="d-flex justify-content-around">
    <div>
      <div class="d-flex flex-row bd-highlight mb-3">
        <div class="p-2 bd-highlight"><%= image_tag "medico logo.jpeg", width: '150', height: '150' %></div>
        <div class="d-flex flex-column bd-highlight mb-3">
          <div class="p-2 bd-highlight">
            <h2>RISK ANALYSIS FORM &</h2>
          </div>
          <div class="p-2 bd-highlight">MEDICO-LEGAL QUESTIONNAIRE</div>
        </div>
      </div>
      <hr/>
      <br/>
      <hr/>
      <h3>COVID -19 RISK ANALYSIS DECLARATION</h3>
      <p>Please complete the information based on honest and true health information which is vital to keep you and the other clinic users safe.</p>
      <hr/>
      <div class="d-flex justify-content-center">
        <p>All fields marked with * are required and must be filled.</p>
      </div>
      <br/>
      <%= form_with url: patient_information_index_path(@patient_id), method: :post do |f| %>
        <div class="form-group">
          <%= hidden_field_tag 'patient_id', @patient_id  %>
          <%= f.label 'Have you travelled abroad during 2022?*' %>
          <div class="form-check">
            <%= f.radio_button :travelled_abroad_during_2022, true, class: 'form-check-input' %>
            <%= f.label 'Yes', class: 'form-check-label' %>
          </div>
          <div class="form-check">
            <%= f.radio_button :travelled_abroad_during_2022, false, class: 'form-check-input' %>
            <%= f.label 'No', class: 'form-check-label' %>
          </div>
          <br/>
          <%= f.label 'Please state whether you are experiencing any of the following' %>
          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Yes</th>
                <th scope="col">No</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">Fever</td>
                <td><%= f.radio_button :suffering_fever, true, class: 'form-check-input' %></td>
                <td><%= f.radio_button :suffering_fever, false, class: 'form-check-input' %></td>
              </tr>
              <tr>
                <td scope="row">Loss of taste or smell</td>
                <td><%= f.radio_button :loss_of_taste_or_smell, true, class: 'form-check-input' %></td>
                <td><%= f.radio_button :loss_of_taste_or_smell, false, class: 'form-check-input' %></td>
              </tr>
              <tr>
                <td scope="row">Cough</td>
                <td><%= f.radio_button :suffering_cough, true, class: 'form-check-input' %></td>
                <td><%= f.radio_button :suffering_cough, false, class: 'form-check-input' %></td>
              </tr>
              <tr>
                <td scope="row">Shortness of breath</td>
                <td><%= f.radio_button :shortness_of_breath, true, class: 'form-check-input' %></td>
                <td><%= f.radio_button :shortness_of_breath, false, class: 'form-check-input' %></td>
              </tr>
              <tr>
                <td scope="row">Persistant pain in chest</td>
                <td><%= f.radio_button :persistant_pain_in_chest, true, class: 'form-check-input' %></td>
                <td><%= f.radio_button :persistant_pain_in_chest, false, class: 'form-check-input' %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <br/>
        <hr/>
        <h3>VITAL INFORMATION</h3>
        <p>Please read this information carefully</p>
        <hr/>
        <h6>1. ALL PAGES MUST BE FULLY COMPLETED BEFORE THE EXAMINATION. INCOMPLETE FORMS WILL NOT BE ACCEPTED AND EXAMINATION WILL NOT TAKE PLACE.</h6>
        <p>All injuries should be mentioned to the specialist.</p>
        <p>Injuries or any other relevant information that is not mentioned at the consultation will not be added to the report, later on, so PLEASE provide full information.</p>
        <p>Please answer all the questions completely and accurately.</p>
        <br/>
        <p>2. Mr Moholkar is an independent Orthopaedic Surgeon and does not work for your solicitors or insurance company and will not be treating you for your sufferings.</p>
        <p>The interview is required to prepare your personal injury report.</p>
        <br/>
        <p>3. Please bring 2 forms of ID one of them must be a valid photo ID (passport/driving license). ID cannot be provided after the appointment time.</p>
        <br/>
        <p>4. You should be present at the venue at least 10 minutes before your appointment time, and this questionnaire should be completed before the interview.</p>
        <p>If you are late for your appointment, the interview will not occur.</p>
        <br/>
        <h5>5. CANCELLATION OF APPOINTMENT</h5>
        <h5>If the form is not completed at least 24 hours before your appointment time, the appointment will automatically be cancelled.</h5>
        <br/>
        <br/>
        <hr/>
        <div class="d-flex justify-content-center">
          <p>This report will be addressed to the court</p>
        </div>
        <hr/>
        <div class="d-flex justify-content-center">
          <p>All fields marked with * are required and must be filled.</p>
        </div>
        <div class="form-check mt-4">
          <%= f.label 'Name *', class: 'form-label' %>
          <div class="d-flex justify-content-around">
            <%= f.text_field :first_name, class: 'form-control', required: true, placeholder: "First Name" %>
            <%= f.text_field :sur_name, class: 'form-control', required: true, placeholder: "Sur Name" %>
          </div>
        </div>
        <div class="form-check mt-4">
          <%= f.label 'Date of Birth *', class: 'form-label' %>
          <%= f.date_field :dob, class: 'form-control w-100', required: true, placeholder: "Date of Birth" %>
        </div>
        <div class="form-check mt-4">
          <%= f.label 'Address *', class: 'form-label' %>
          <div class="d-flex justify-content-around">
            <%= f.text_field :city, class: 'form-control', required: true, placeholder: "City" %>
            <%= f.text_field :state, class: 'form-control', required: true, placeholder: "State" %>
            <%= f.text_field :postal_code, class: 'form-control', required: true, placeholder: "Postal Code" %>
          </div>
        </div>
        <div class="form-check mt-4">
          <%= f.label 'Current occupation *', class: 'form-label' %>
          <%= f.text_field :ocuupation, class: 'form-control w-100', required: true, placeholder: "Current occupation" %>
        </div>
        <%= f.fields_for :accident_attributes do |accident_form| %>
          <div class="form-check mt-4">
            <%= accident_form.label 'Date of Accident *', class: 'form-label' %>
            <%= accident_form.date_field :date, class: 'form-control w-100', required: true, placeholder: "Date of Accident" %>
          </div>
        <% end %>
        <%= f.fields_for :appointment_attributes do |appointment_form| %>
          <div class="form-check mt-4">
            <%= appointment_form.label 'Appointment Date (Date of Examnination)', class: 'form-label' %>
            <%= appointment_form.date_field :date, class: 'form-control w-100', placeholder: "Appoinment Date" %>
          </div>
          <div class="form-check mt-4">
            <%= appointment_form.label 'Venue of Examnination *', class: 'form-label' %>
            <%= appointment_form.text_field :examination_venue, class: 'form-control w-100', required: true, placeholder: "Venue of Examnination" %>
          </div>
          <div class="form-check mt-4">
            <%= appointment_form.label 'Have you taken any time off work? *' %>
            <div class="form-check">
              <%= appointment_form.radio_button :any_time_off_work, true, class: 'form-check-input' %>
              <%= appointment_form.label 'Yes', class: 'form-check-label' %>
            </div>
            <div class="form-check">
              <%= appointment_form.radio_button :any_time_off_work, false, class: 'form-check-input' %>
              <%= appointment_form.label 'No', class: 'form-check-label' %>
            </div>
            <%= appointment_form.label 'If yes, how long? ' %>
            <%= appointment_form.text_field :holidays_from_work, class: 'form-control w-100', placeholder: "Holidays from work" %>
          </div>
          <div class="form-check mt-4 mb-4">
            <%= appointment_form.label 'Visit After Accident', class: 'form-label' %>
            <div class="d-flex justify-content-between">
              <% Appointment.visit_after_accidents.keys.each do |value| %>
                <div class="form-check">
                  <%= appointment_form.radio_button :visit_after_accident, value, class: 'form-check-input' %>
                  <%= appointment_form.label value.humanize, class: 'form-check-label' %>
                </div>
              <% end %>
            </div>
            <%= appointment_form.text_field :other_hospital_visited_after_accident, class: 'form-control w-100', placeholder: "Other hospital, if any" %>
          </div>
          <hr/>
          <div class="form-check mt-4">
            <%= appointment_form.label 'Report requested by (Solicitors/Claim management company) *', class: 'form-label' %>
            <%= appointment_form.text_field :report_requested_by, class: 'form-control w-100', required: true, placeholder: "Report requested by" %>
          </div>
          <div class="form-check mt-4">
            <%= appointment_form.label 'Solicitors ref *', class: 'form-label' %>
            <%= appointment_form.number_field :solicitors_ref, class: 'form-control w-100', required: true, placeholder: "Solicitors reference" %>
            <p>(Please refer to a letter from your solicitors)</p>
          </div>
          <div class="form-check mt-4">
            <%= appointment_form.label 'Proof of ID seen', class: 'form-label' %>
            <div class="d-flex justify-content-between">
              <% Appointment.identity_proofs.keys.each do |value| %>
                <div class="form-check">
                  <%= appointment_form.radio_button :identity_proof, value, class: 'form-check-input' %>
                  <%= appointment_form.label value.humanize, class: 'form-check-label' %>
                </div>
              <% end %>
            </div>
            <%= appointment_form.text_field :other_hospital_visited_after_accident, class: 'form-control w-100', placeholder: "Other proof, if any" %>
          </div>
        <% end %>
        <br/>
        <br/>
        <hr/>
        <h2>2. ACCIDENT DETAILS</h2>
        <hr/>
        <div class="d-flex justify-content-center">
          <p>All fields marked with * are required and must be filled.</p>
        </div>
        <%= f.fields_for :accident_attributes do |accident_form| %>
          <div class="form-check mt-4">
            <div class="m-4">
              2.1 <%= accident_form.label 'Mechanism of Injury *', class: 'form-label' %>
              <div class="d-flex justify-content-between">
                <%= accident_form.collection_check_boxes :mechanisms_of_injury, Accident::MECHANISMS_OF_INJURY, :to_s, :to_s do |cb| %>
                  <div class="form-check" data-controller="accident-detail">
                    <%= cb.check_box(data: { action: "change->accident-detail#showField" }) %>
                    <%= cb.text %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="m-4 hide-visibility" id="vehicleFields">
            <div class="m-4">
              <h6>2.2 IF YOU HAVE SUFFERED WITH A RTA (CAR/VAN ACCIDENT), PLEASE COMPLETE THIS SECTION.</h6>
            </div>
            <div class="form-check mt-4">
              1. <%= accident_form.label ' Were you the driver or passenger in the vehicle involved in the accident', class: 'form-label' %>
              <div class="d-flex justify-content-between">
                <% Accident.accident_victims.keys.each do |value| %>
                  <div class="form-check">
                    <%= accident_form.radio_button :accident_victim, value, class: 'form-check-input' %>
                    <%= accident_form.label value.humanize, class: 'form-check-label' %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="form-check mt-4">
              2. <%= accident_form.label 'Was your vehicle the following?', class: 'form-label' %>
              <div class="d-flex justify-content-between">
                <% Accident.vehicles.keys.each do |value| %>
                  <div class="form-check">
                    <%= accident_form.radio_button :vehicle, value, class: 'form-check-input' %>
                    <%= accident_form.label value.humanize, class: 'form-check-label' %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="form-check mt-4">
              3. <%= accident_form.label 'Was the third party vehicle the following?', class: 'form-label' %>
              <div class="d-flex justify-content-between">
                <% Accident.third_party_vehicles.keys.each do |value| %>
                  <div class="form-check">
                    <%= accident_form.radio_button :third_party_vehicle, value, class: 'form-check-input' %>
                    <%= accident_form.label value.humanize, class: 'form-check-label' %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="form-check mt-4">
              4. <%= accident_form.label 'Were you seat belted?' %>
              <div class="d-flex justify-content-between w-50">
                <div class="form-check">
                  <%= accident_form.radio_button :seat_belted, true, class: 'form-check-input' %>
                  <%= accident_form.label 'Yes', class: 'form-check-label' %>
                </div>
                <div class="form-check">
                  <%= accident_form.radio_button :seat_belted, false, class: 'form-check-input' %>
                  <%= accident_form.label 'No', class: 'form-check-label' %>
                </div>
              </div>
            </div>
            <div class="form-check mt-4">
              5. <%= accident_form.label 'Were you jolted forwards and backwards with force?' %>
              <div class="d-flex justify-content-between w-50">
                <div class="form-check">
                  <%= accident_form.radio_button :jolted_fwd_or_bwd, true, class: 'form-check-input' %>
                  <%= accident_form.label 'Yes', class: 'form-check-label' %>
                </div>
                <div class="form-check">
                  <%= accident_form.radio_button :jolted_fwd_or_bwd, false, class: 'form-check-input' %>
                  <%= accident_form.label 'No', class: 'form-check-label' %>
                </div>
              </div>
            </div>
            <div class="form-check mt-4">
              6. <%= accident_form.label 'Site of Accident:', class: 'form-label' %>
              <div class="d-flex justify-content-between">
                <% Accident.site_of_accidents.keys.each do |value| %>
                  <div class="form-check">
                    <%= accident_form.radio_button :site_of_accident, value, class: 'form-check-input' %>
                    <%= accident_form.label value.humanize, class: 'form-check-label' %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="form-check mt-4">
              7. <%= accident_form.label 'Vehicle fitted with Head restraint?' %>
              <div class="d-flex justify-content-between w-50">
                <div class="form-check">
                  <%= accident_form.radio_button :vehicle_fitted_with_head_restraint, true, class: 'form-check-input' %>
                  <%= accident_form.label 'Yes', class: 'form-check-label' %>
                </div>
                <div class="form-check">
                  <%= accident_form.radio_button :vehicle_fitted_with_head_restraint, false, class: 'form-check-input' %>
                  <%= accident_form.label 'No', class: 'form-check-label' %>
                </div>
              </div>
            </div>
            <div class="form-check mt-4">
              8. <%= accident_form.label 'What was your travelling speed?', class: 'form-label' %>
              <div class="d-flex justify-content-between w-50">
                <% Accident.travelling_speeds.keys.each do |value| %>
                  <div class="form-check">
                    <%= accident_form.radio_button :travelling_speed, value, class: 'form-check-input' %>
                    <%= accident_form.label value.humanize, class: 'form-check-label' %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="form-check mt-4">
              <%= accident_form.label 'Your approximate speed', class: 'form-label' %>
              <%= accident_form.text_field :approximate_speed, class: 'form-control w-100', placeholder: "mph." %>
            </div>
            <div class="form-check mt-4">
              <%= accident_form.label 'Third party vehicles speed', class: 'form-label' %>
              <%= accident_form.text_field :third_party_vehicle_speed, class: 'form-control w-100', placeholder: "mph." %>
            </div>
            <div class="form-check mt-4">
              9. <%= accident_form.label 'Was your vehicle', class: 'form-label' %>
              <div class="d-flex justify-content-between">
                <% Accident.vehicle_categories.keys.each do |value| %>
                  <div class="form-check">
                    <%= accident_form.radio_button :vehicle_category, value, class: 'form-check-input' %>
                    <%= accident_form.label value.humanize, class: 'form-check-label' %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="form-check mt-4">
              10. <%= accident_form.label 'Where were you looking at the time of the impact?', class: 'form-label' %>
              <div class="d-flex justify-content-between">
                <% Accident.where_were_you_looking_ats.keys.each do |value| %>
                  <div class="form-check">
                    <%= accident_form.radio_button :where_were_you_looking_at, value, class: 'form-check-input' %>
                    <%= accident_form.label value.humanize, class: 'form-check-label' %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="form-check mt-4">
              11. <%= accident_form.label 'Did you hit the interior of the car?' %>
              <div class="d-flex justify-content-between w-50">
                <div class="form-check">
                  <%= accident_form.radio_button :hit_the_car_interior, true, class: 'form-check-input' %>
                  <%= accident_form.label 'Yes', class: 'form-check-label' %>
                </div>
                <div class="form-check">
                  <%= accident_form.radio_button :hit_the_car_interior, false, class: 'form-check-input' %>
                  <%= accident_form.label 'No', class: 'form-check-label' %>
                </div>
              </div>
              <%= accident_form.text_field :body_hit_vehicle_part, class: 'form-control w-100', placeholder: "Body part" %>
            </div>
            <div class="form-check mt-4">
              12. <%= accident_form.label 'Was the airbag deployed?' %>
              <div class="d-flex justify-content-between w-50">
                <div class="form-check">
                  <%= accident_form.radio_button :air_bag_deployed, true, class: 'form-check-input' %>
                  <%= accident_form.label 'Yes', class: 'form-check-label' %>
                </div>
                <div class="form-check">
                  <%= accident_form.radio_button :air_bag_deployed, false, class: 'form-check-input' %>
                  <%= accident_form.label 'No', class: 'form-check-label' %>
                </div>
              </div>
            </div>
            <div class="form-check mt-4">
              13. <%= accident_form.label 'Who attended the scene of the accident', class: 'form-label' %>
              <div class="d-flex justify-content-between">
                <% Accident.accident_scene_attendees.keys.each do |value| %>
                  <div class="form-check">
                    <%= accident_form.radio_button :accident_scene_attendees, value, class: 'form-check-input' %>
                    <%= accident_form.label value.humanize, class: 'form-check-label' %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="form-check mt-4">
              14. <%= accident_form.label 'Were you able to exit your vehicle unaided' %>
              <div class="d-flex justify-content-between w-50">
                <div class="form-check">
                  <%= accident_form.radio_button :able_to_exit_your_vehicle_unaided, true, class: 'form-check-input' %>
                  <%= accident_form.label 'Yes', class: 'form-check-label' %>
                </div>
                <div class="form-check">
                  <%= accident_form.radio_button :able_to_exit_your_vehicle_unaided, false, class: 'form-check-input' %>
                  <%= accident_form.label 'No', class: 'form-check-label' %>
                </div>
              </div>
            </div>
            <div class="form-check mt-4">
              15. <%= accident_form.label 'Your state immediately after the accident', class: 'form-label' %>
              <div class="d-flex justify-content-between">
                <% Accident.state_after_accidents.keys.each do |value| %>
                  <div class="form-check">
                    <%= accident_form.radio_button :state_after_accident, value, class: 'form-check-input' %>
                    <%= accident_form.label value.humanize, class: 'form-check-label' %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="m-4 hide-visibility" id="nonRoadTrafficFields">
            <div class="m-4">
              <h6>COMPLETE THE NEXT FREETEXT 2.2 SECTION BELOW</h6>
            </div>
            <div class="form-check mt-4">
              <h6>2.2 BRIEF DESCRIPTION OF NON ROAD TRAFFIC ACCIDENT (COMPLETION OF THIS SECTION IS MANDATORY): </h6>
              <%# <h6>PLS WRITE NA IF YOU HAVE COMPLETED PREVIOUS 2.2*</h6> %>
              <%= accident_form.label '', class: 'form-label' %>
              <%= accident_form.text_area :description_of_nonroad_traffice_accident, class: 'form-control w-100', placeholder: "Brief description" %>
            </div>
          </div>
        <% end %>
        <br/>
        <br/>
        <hr/>
        <h2>3. INJURIES SUSTAINED</h2>
        <p>(SPECIFY THE PARTS INJURED AND THE SIDE OF THE INJURY)</p>
        <hr/>
        <div class="d-flex justify-content-center">
          <p>All fields marked with * are required and must be filled.</p>
        </div>
        <div class="d-flex justify-content-center mt-5">
          <%= image_tag "injuries sample.jpeg" %>
        </div>
        <%= f.fields_for :injury_attributes do |injury_form| %>
          <div class="form-check mt-4">
            1. <%= injury_form.label 'Injury Name *', class: 'form-label' %>
            <%= injury_form.text_field :injury_one_name, class: 'form-control w-100', required: true, placeholder: "Injury name" %>
          </div>
          <div class="form-check mt-4">
            <%= injury_form.label 'Started in *', class: 'form-label' %>
            <%= injury_form.text_field :injury_one_started_in, class: 'form-control w-100', required: true, placeholder: "Minutes/Days/Weeks" %>
          </div>
          <div class="form-check mt-4">
            <%= injury_form.label 'Has the pain resolved?' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= injury_form.radio_button :injury_one_pain_resolved, true, class: 'form-check-input' %>
                <%= injury_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= injury_form.radio_button :injury_one_pain_resolved, false, class: 'form-check-input' %>
                <%= injury_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
          </div>
          <div class="form-check mt-4">
            <%= injury_form.label 'Resolved in (EXPERTS USE)', class: 'form-label' %>
            <%= injury_form.text_field :injury_one_resolved_in, class: 'form-control w-100', placeholder: "months/years" %>
          </div>
          <div class="form-check mt-4">
            <%= injury_form.label 'Pain before accident', class: 'form-label' %>
            <%= injury_form.number_field :pain_before_accident_one, max: 10, class: 'form-control w-100', placeholder: "Out of 10" %>
          </div>
          <div class="form-check mt-4">
            <%= injury_form.label 'Pain after accident', class: 'form-label' %>
            <%= injury_form.number_field :pain_after_accident_one, max: 10, class: 'form-control w-100', placeholder: "Out of 10" %>
          </div>
          <div class="form-check mt-4">
            <%= injury_form.label 'Pain now', class: 'form-label' %>
            <%= injury_form.number_field :accident_one_pain_now, max: 10, class: 'form-control w-100', placeholder: "Out of 10" %>
          </div>
          <div class="d-flex justify-content-center mt-5">
            <%= image_tag "injuries sample.jpeg" %>
          </div>
          <div class="form-check mt-4">
            2. <%= injury_form.label 'Injury Name *', class: 'form-label' %>
            <%= injury_form.text_field :injury_two_name, class: 'form-control w-100', placeholder: "Injury name" %>
          </div>
          <div class="form-check mt-4">
            <%= injury_form.label 'Started in *', class: 'form-label' %>
            <%= injury_form.text_field :injury_two_started_in, class: 'form-control w-100', placeholder: "Minutes/Days/Weeks" %>
          </div>
          <div class="form-check mt-4">
            <%= injury_form.label 'Has the pain resolved?' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= injury_form.radio_button :injury_two_pain_resolved, true, class: 'form-check-input' %>
                <%= injury_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= injury_form.radio_button :injury_two_pain_resolved, false, class: 'form-check-input' %>
                <%= injury_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
          </div>
          <div class="form-check mt-4">
            <%= injury_form.label 'Resolved in (EXPERTS USE)', class: 'form-label' %>
            <%= injury_form.text_field :injury_two_resolved_in, class: 'form-control w-100', placeholder: "months/years" %>
          </div>
          <div class="form-check mt-4">
            <%= injury_form.label 'Pain before accident', class: 'form-label' %>
            <%= injury_form.number_field :pain_before_accident_two, max: 10, class: 'form-control w-100', placeholder: "Out of 10" %>
          </div>
          <div class="form-check mt-4">
            <%= injury_form.label 'Pain after accident', class: 'form-label' %>
            <%= injury_form.number_field :pain_after_accident_two, max: 10, class: 'form-control w-100', placeholder: "Out of 10" %>
          </div>
          <div class="form-check mt-4">
            <%= injury_form.label 'Pain now', class: 'form-label' %>
            <%= injury_form.number_field :accident_two_pain_now, max: 10, class: 'form-control w-100', placeholder: "Out of 10" %>
          </div>
          <div class="d-flex justify-content-center mt-5">
            <%= image_tag "injuries sample.jpeg" %>
          </div>
          <div class="form-check mt-4">
            3. <%= injury_form.label 'Injury Name *', class: 'form-label' %>
            <%= injury_form.text_field :injury_three_name, class: 'form-control w-100', placeholder: "Injury name" %>
          </div>
          <div class="form-check mt-4">
            <%= injury_form.label 'Started in *', class: 'form-label' %>
            <%= injury_form.text_field :injury_three_started_in, class: 'form-control w-100', placeholder: "Minutes/Days/Weeks" %>
          </div>
          <div class="form-check mt-4">
            <%= injury_form.label 'Has the pain resolved?' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= injury_form.radio_button :injury_three_pain_resolved, true, class: 'form-check-input' %>
                <%= injury_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= injury_form.radio_button :injury_three_pain_resolved, false, class: 'form-check-input' %>
                <%= injury_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
          </div>
          <div class="form-check mt-4">
            <%= injury_form.label 'Resolved in (EXPERTS USE)', class: 'form-label' %>
            <%= injury_form.text_field :injury_three_resolved_in, class: 'form-control w-100', placeholder: "months/years" %>
          </div>
          <div class="form-check mt-4">
            <%= injury_form.label 'Pain before accident', class: 'form-label' %>
            <%= injury_form.number_field :pain_before_accident_three, max: 10, class: 'form-control w-100', placeholder: "Out of 10" %>
          </div>
          <div class="form-check mt-4">
            <%= injury_form.label 'Pain after accident', class: 'form-label' %>
            <%= injury_form.number_field :pain_after_accident_three, max: 10, class: 'form-control w-100', placeholder: "Out of 10" %>
          </div>
          <div class="form-check mt-4">
            <%= injury_form.label 'Pain now', class: 'form-label' %>
            <%= injury_form.number_field :accident_three_pain_now, max: 10, class: 'form-control w-100', placeholder: "Out of 10" %>
          </div>
          <div class="d-flex justify-content-center mt-5">
            <%= image_tag "injuries sample.jpeg" %>
          </div>
          <div class="form-check mt-4">
            4. <%= injury_form.label 'Injury Name *', class: 'form-label' %>
            <%= injury_form.text_field :injury_four_name, class: 'form-control w-100', placeholder: "Injury name" %>
          </div>
          <div class="form-check mt-4">
            <%= injury_form.label 'Started in *', class: 'form-label' %>
            <%= injury_form.text_field :injury_four_started_in, class: 'form-control w-100', placeholder: "Minutes/Days/Weeks" %>
          </div>
          <div class="form-check mt-4">
            <%= injury_form.label 'Has the pain resolved?' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= injury_form.radio_button :injury_four_pain_resolved, true, class: 'form-check-input' %>
                <%= injury_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= injury_form.radio_button :injury_four_pain_resolved, false, class: 'form-check-input' %>
                <%= injury_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
          </div>
          <div class="form-check mt-4">
            <%= injury_form.label 'Resolved in (EXPERTS USE)', class: 'form-label' %>
            <%= injury_form.text_field :injury_four_resolved_in, class: 'form-control w-100', placeholder: "months/years" %>
          </div>
          <div class="form-check mt-4">
            <%= injury_form.label 'Pain before accident', class: 'form-label' %>
            <%= injury_form.number_field :pain_before_accident_four, max: 10, class: 'form-control w-100', placeholder: "Out of 10" %>
          </div>
          <div class="form-check mt-4">
            <%= injury_form.label 'Pain after accident', class: 'form-label' %>
            <%= injury_form.number_field :pain_after_accident_four, max: 10, class: 'form-control w-100', placeholder: "Out of 10" %>
          </div>
          <div class="form-check mt-4">
            <%= injury_form.label 'Pain now', class: 'form-label' %>
            <%= injury_form.number_field :accident_four_pain_now, max: 10, class: 'form-control w-100', placeholder: "Out of 10" %>
          </div>
          <div class="d-flex justify-content-center mt-5">
            <%= image_tag "injuries sample.jpeg" %>
          </div>
          <div class="form-check mt-4">
            5. <%= injury_form.label 'Injury Name *', class: 'form-label' %>
            <%= injury_form.text_field :injury_five_name, class: 'form-control w-100', placeholder: "Injury name" %>
          </div>
          <div class="form-check mt-4">
            <%= injury_form.label 'Started in *', class: 'form-label' %>
            <%= injury_form.text_field :injury_five_started_in, class: 'form-control w-100', placeholder: "Minutes/Days/Weeks" %>
          </div>
          <div class="form-check mt-4">
            <%= injury_form.label 'Has the pain resolved?' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= injury_form.radio_button :injury_five_pain_resolved, true, class: 'form-check-input' %>
                <%= injury_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= injury_form.radio_button :injury_five_pain_resolved, false, class: 'form-check-input' %>
                <%= injury_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
          </div>
          <div class="form-check mt-4">
            <%= injury_form.label 'Resolved in (EXPERTS USE)', class: 'form-label' %>
            <%= injury_form.text_field :injury_five_resolved_in, class: 'form-control w-100', placeholder: "months/years" %>
          </div>
          <div class="form-check mt-4">
            <%= injury_form.label 'Pain before accident', class: 'form-label' %>
            <%= injury_form.number_field :pain_before_accident_five, max: 10, class: 'form-control w-100', placeholder: "Out of 10" %>
          </div>
          <div class="form-check mt-4">
            <%= injury_form.label 'Pain after accident', class: 'form-label' %>
            <%= injury_form.number_field :pain_after_accident_five, max: 10, class: 'form-control w-100', placeholder: "Out of 10" %>
          </div>
          <div class="form-check mt-4">
            <%= injury_form.label 'Pain now', class: 'form-label' %>
            <%= injury_form.number_field :accident_five_pain_now, max: 10, class: 'form-control w-100', placeholder: "Out of 10" %>
          </div>
          <div class="d-flex justify-content-center mt-5">
            <%= image_tag "injuries sample.jpeg" %>
          </div>
          <div class="form-check mt-4">
            6. <%= injury_form.label 'Injury Name *', class: 'form-label' %>
            <%= injury_form.text_field :injury_six_name, class: 'form-control w-100', placeholder: "Injury name" %>
          </div>
          <div class="form-check mt-4">
            <%= injury_form.label 'Started in *', class: 'form-label' %>
            <%= injury_form.text_field :injury_six_started_in, class: 'form-control w-100', placeholder: "Minutes/Days/Weeks" %>
          </div>
          <div class="form-check mt-4">
            <%= injury_form.label 'Has the pain resolved?' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= injury_form.radio_button :injury_six_pain_resolved, true, class: 'form-check-input' %>
                <%= injury_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= injury_form.radio_button :injury_six_pain_resolved, false, class: 'form-check-input' %>
                <%= injury_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
          </div>
          <div class="form-check mt-4">
            <%= injury_form.label 'Resolved in (EXPERTS USE)', class: 'form-label' %>
            <%= injury_form.text_field :injury_six_resolved_in, class: 'form-control w-100', placeholder: "months/years" %>
          </div>
          <div class="form-check mt-4">
            <%= injury_form.label 'Pain before accident', class: 'form-label' %>
            <%= injury_form.number_field :pain_before_accident_six, max: 10, class: 'form-control w-100', placeholder: "Out of 10" %>
          </div>
          <div class="form-check mt-4">
            <%= injury_form.label 'Pain after accident', class: 'form-label' %>
            <%= injury_form.number_field :pain_after_accident_six, max: 10, class: 'form-control w-100', placeholder: "Out of 10" %>
          </div>
          <div class="form-check mt-4">
            <%= injury_form.label 'Pain now', class: 'form-label' %>
            <%= injury_form.number_field :accident_six_pain_now, max: 10, class: 'form-control w-100', placeholder: "Out of 10" %>
          </div>
          <%# <div class="m-4">
            <h6>Pain before accident</h6>
          </div>
          <div class="m-4">
            <h6>Please check the box and initial below it if you have not suffered with any more injuries other than mentioned in paragraph 3.</h6>
            <h6>Please note that if you do not mention any injuries suffered as a result of the accident you are claiming for, it will not be added to the report later as the surgeon </h6>
            <h6>would not have had an opportunity to take history and examine the relevant injured body part*</h6>
          </div>
          <div class="m-4">
            <h6>PAIN SCORED AS 0 IF NO PAIN AND 10 WHEN MOST SEVERE PAIN</h6>
          </div> %>
        <% end %>
        <br/>
        <br/>
        <hr/>
        <h2>4. TREATMENT DETAILS</h2>
        <hr/>
        <div class="d-flex justify-content-center">
          <p>All fields marked with * are required and must be filled.</p>
        </div>
        <%= f.fields_for :treatment_attributes do |treatment_form| %>
          <div class="form-check mt-4">
            4.1 a. Did you go to A&E *<%= treatment_form.label '' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= treatment_form.radio_button :went_to_ae, true, class: 'form-check-input' %>
                <%= treatment_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= treatment_form.radio_button :went_to_ae, false, class: 'form-check-input' %>
                <%= treatment_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
            <%= treatment_form.text_field :hospital_name, class: 'form-control w-100', placeholder: "Hospital name" %>
          </div>
          <div class="form-check mt-4">
            Mode of transport to the AE *<%= treatment_form.label '' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= treatment_form.radio_button :mode_of_transport_to_ae, true, class: 'form-check-input' %>
                <%= treatment_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= treatment_form.radio_button :mode_of_transport_to_ae, false, class: 'form-check-input' %>
                <%= treatment_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
            <%= treatment_form.text_field :other_mode_of_transport, class: 'form-control w-100', placeholder: "Other" %>
          </div>
          <div class="form-check mt-4">
            4.1 b. <%= treatment_form.label ' Date of attendance *' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= treatment_form.radio_button :date_of_attendance, true, class: 'form-check-input' %>
                <%= treatment_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= treatment_form.radio_button :date_of_attendance, false, class: 'form-check-input' %>
                <%= treatment_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
            <%= treatment_form.date_field :attendance_date, class: 'form-control w-100', placeholder: "Attendance date" %>
          </div>
          <div class="form-check mt-4">
            4.1 c. What happened at the AE? *<%= treatment_form.label '', class: 'form-label' %>
            <div class="d-flex justify-content-between">
              <%= treatment_form.collection_check_boxes :ae_tests, Treatment::AE_TESTS, :to_s, :to_s do |cb| %>
                <div class="form-check">
                  <%= cb.check_box %>
                  <%= cb.text %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="form-check mt-4">
            4.1 d. <%= treatment_form.label 'Were you admitted to the Hospital *' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= treatment_form.radio_button :admitted_to_hospital, true, class: 'form-check-input' %>
                <%= treatment_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= treatment_form.radio_button :admitted_to_hospital, false, class: 'form-check-input' %>
                <%= treatment_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
            <%= treatment_form.label 'If yes for how many days (EXPERTS USE)' %>
            <%= treatment_form.number_field :admitted_days, class: 'form-control w-100', placeholder: "Number of days" %>
          </div>
          <div class="form-check mt-4">
            4.1 e. <%= treatment_form.label ' Did you need any operations *' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= treatment_form.radio_button :need_any_operation, true, class: 'form-check-input' %>
                <%= treatment_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= treatment_form.radio_button :need_any_operation, false, class: 'form-check-input' %>
                <%= treatment_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
          </div>
          <div class="form-check mt-4">
            <%= treatment_form.label 'Additional details about treatment (EXPERTS USE) *' %>
            <%= treatment_form.text_area :treatment_additional_details_expert_use, class: 'form-control w-100', placeholder: "Additional details" %>
          </div>
          <div class="form-check mt-4">
            <h5>4.2 G.P TREATMENT:</h5>
          </div>
          <div class="form-check mt-4">
            4.2.1 Did you visit the GP immediately after the accident *<%= treatment_form.label '' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= treatment_form.radio_button :gp_visit_after_accident, true, class: 'form-check-input' %>
                <%= treatment_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= treatment_form.radio_button :gp_visit_after_accident, false, class: 'form-check-input' %>
                <%= treatment_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
            <%= treatment_form.label 'If no, why not? *' %>
            <%= treatment_form.text_field :no_gp_visit_reason, class: 'form-control w-100', placeholder: "Reason" %>
          </div>
          <div class="form-check mt-4">
            <%= treatment_form.label 'Date of First visit after the accident' %>
            <%= treatment_form.date_field :first_visit_after_accident, class: 'form-control w-100', placeholder: "First visit date" %>
          </div>
          <div class="form-check mt-4">
            <%= treatment_form.label 'Number of further visits (For Experts view)' %>
            <%= treatment_form.number_field :further_visits_count, class: 'form-control w-100', placeholder: "Further visits count" %>
          </div>
          <div class="form-check mt-4">
            4.2.2 <%= treatment_form.label 'Were Painkillers prescribed?' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= treatment_form.radio_button :painkiller_prescribed, true, class: 'form-check-input' %>
                <%= treatment_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= treatment_form.radio_button :painkiller_prescribed, false, class: 'form-check-input' %>
                <%= treatment_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
          </div>
          <div class="form-check mt-4">
            4.2.3 Did the GP ARRANGE any of the following<%= treatment_form.label '', class: 'form-label' %>
            <div class="d-flex justify-content-between">
              <%= treatment_form.collection_check_boxes :gp_arrangements, Treatment::GP_ARRANGEMENTS, :to_s, :to_s do |cb| %>
                <div class="form-check">
                  <%= cb.check_box %>
                  <%= cb.text %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="form-check mt-4">
            <%= treatment_form.label 'Additional details about the Treatment Details (For experts view)' %>
            <%= treatment_form.text_area :treatment_additional_details_expert_view, class: 'form-control w-100', placeholder: "Additional details" %>
          </div>
          <div class="form-check mt-4">
            <h5>4.3 ALTERNATIVE TREATMENT:</h5>
          </div>
          <div class="form-check mt-4">
            4.3.1 <%= treatment_form.label 'Did you have*', class: 'form-label' %>
            <div class="d-flex justify-content-between">
              <% Treatment.exercises.keys.each do |value| %>
                <div class="form-check">
                  <%= treatment_form.radio_button :exercise, value, class: 'form-check-input' %>
                  <%= treatment_form.label value.humanize, class: 'form-check-label' %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="form-check mt-4">
            4.3.2 <%= treatment_form.label 'If yes, how many sessions?' %>
            <%= treatment_form.number_field :total_sessions, class: 'form-control w-100', placeholder: "Number of sessions" %>
          </div>
          <div class="form-check mt-4">
            4.3 b. <%= treatment_form.label 'Was this treatment completed' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= treatment_form.radio_button :treatment_completed, true, class: 'form-check-input' %>
                <%= treatment_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= treatment_form.radio_button :treatment_completed, false, class: 'form-check-input' %>
                <%= treatment_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
            <%= treatment_form.text_field :treatment_comments, class: 'form-control w-100', placeholder: "Treatment comments" %>
          </div>
          <div class="form-check mt-4">
            4.3 c. <%= treatment_form.label 'Did the symptoms improve' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= treatment_form.radio_button :symptom_imporoved, true, class: 'form-check-input' %>
                <%= treatment_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= treatment_form.radio_button :symptom_imporoved, false, class: 'form-check-input' %>
                <%= treatment_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
            <%= treatment_form.text_field :symptom_comments, class: 'form-control w-100', placeholder: "Symptoms comments" %>
          </div>
          <div class="form-check mt-4">
            4.4. <%= treatment_form.label 'Name and place of the Physiotherapist (For the experts view)' %>
            <%= treatment_form.text_area :physiotherapist_data, class: 'form-control w-100', placeholder: "Physiotherapist data" %>
          </div>
          <div class="form-check mt-4">
            <h5>4.4 CURRENT TREATMENT:</h5>
          </div>
          <div class="form-check mt-4">
            4.4.1. <%= treatment_form.label 'Are you taking any Pain medications for this injury?*' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= treatment_form.radio_button :utilizing_painkiller, true, class: 'form-check-input' %>
                <%= treatment_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= treatment_form.radio_button :utilizing_painkiller, false, class: 'form-check-input' %>
                <%= treatment_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
          </div>
          <div class="form-check mt-4">
            4.4.2. <%= treatment_form.label 'If yes, what are they?' %>
            <%= treatment_form.text_field :painkillers, class: 'form-control w-100', placeholder: "Painkillers" %>
          </div>
          <div class="form-check mt-4">
            <%= treatment_form.label 'Additional relevant details about treatment' %>
            <%= treatment_form.text_area :treatment_relevant_data, class: 'form-control w-100', placeholder: "Treatment relevant data" %>
          </div>
        <% end %>
        <br/>
        <br/>
        <hr/>
        <h2>5. PAST MEDICAL HISTORY</h2>
        <p>PLEASE ANSWER THE QUESTION FACTUALLY AND TRUTHFULLY </p>
        <hr/>
        <div class="d-flex justify-content-center">
          <p>All fields marked with * are required and must be filled.</p>
        </div>
        <%= f.fields_for :medical_history_attributes do |history_form| %>
          <div class="form-check mt-4">
            5.1 <%= history_form.label 'Any previous similar (Road traffic/Personal injury) accident?*' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= history_form.radio_button :past_similar_road_accident, true, class: 'form-check-input' %>
                <%= history_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= history_form.radio_button :past_similar_road_accident, false, class: 'form-check-input' %>
                <%= history_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
            <%= history_form.label 'If yes, when and details please' %>
            <%= history_form.text_field :past_road_accident, class: 'form-control w-100', placeholder: "Past road accident, if any" %>
          </div>
          <div class="form-check mt-4">
            5.2 <%= history_form.label 'Did you claim for the injuries *' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= history_form.radio_button :claim_the_injuries, true, class: 'form-check-input' %>
                <%= history_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= history_form.radio_button :claim_the_injuries, false, class: 'form-check-input' %>
                <%= history_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
          </div>
          <div class="form-check mt-4">
            5.3 <%= history_form.label 'Have you had any similar injuries since the index accident? *' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= history_form.radio_button :similar_injuries_since_index_accident, true, class: 'form-check-input' %>
                <%= history_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= history_form.radio_button :similar_injuries_since_index_accident, false, class: 'form-check-input' %>
                <%= history_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
            <%= history_form.label 'If yes, details' %>
            <%= history_form.text_field :similar_injuries, class: 'form-control w-100', placeholder: "Similar injuries, if any" %>
          </div>
          <div class="form-check mt-4">
            5.4 <%= history_form.label 'Has the accident caused a flare up of any previous medical condition or injury? *' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= history_form.radio_button :accident_flared_up_previous_medical_condition, true, class: 'form-check-input' %>
                <%= history_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= history_form.radio_button :accident_flared_up_previous_medical_condition, false, class: 'form-check-input' %>
                <%= history_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
            <%= history_form.label 'If yes, details' %>
            <%= history_form.text_field :previous_medical_condition, class: 'form-control w-100', placeholder: "Flare up of any previous medical condition, if any" %>
          </div>
          <div class="form-check mt-4">
            5.5 <%= history_form.label 'Have you suffered from previous pain in the body part that was injured in the index accident? ' %><br/>
            <%= history_form.label 'Please note that if you say no and evidence of this in noted in the medical records, this will go as non-disclosure *' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= history_form.radio_button :body_pain_before_accident, true, class: 'form-check-input' %>
                <%= history_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= history_form.radio_button :body_pain_before_accident, false, class: 'form-check-input' %>
                <%= history_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
            <%= history_form.label 'If yes, please write all the appropriate body parts that you had pain in before this accident' %>
            <%= history_form.text_field :body_parts_pain_before_this_accident, class: 'form-control w-100', placeholder: "List of body parts" %>
          </div>
          <div class="form-check mt-4">
            <p>If you have answered yes to the previous questions please answer this section (FOR EXPERTS USE)</p>
          </div>
          <div class="form-check mt-4">
            <%= history_form.label 'Type a pain' %>
            <%= history_form.text_field :type_a_pain, class: 'form-control w-100', placeholder: "Pain" %>
          </div>
          <div class="form-check mt-4">
            <%= history_form.label 'What would increase the pain?' %>
            <%= history_form.text_field :what_increases_pain, class: 'form-control w-100', placeholder: "What increases pain" %>
          </div>
          <div class="form-check mt-4">
            <%= history_form.label 'What painkillers were you taking for this pain before the accident?' %>
            <%= history_form.text_field :which_painkiller_is_comsuming_before_accident, class: 'form-control w-100', placeholder: "Painkiller comsumption before accident" %>
          </div>
          <div class="form-check mt-4">
            <%= history_form.label 'Have you had physiotherapy for this pain?' %>
            <%= history_form.text_field :had_physiothereapy_for_pain, class: 'form-control w-100', placeholder: "Physiothereapy for pain" %>
          </div>
          <div class="form-check mt-4">
            <%= history_form.label 'Have you had injections for this pain?' %>
            <%= history_form.text_field :had_injection_for_pain, class: 'form-control w-100', placeholder: "Injections for the pain" %>
          </div>
          <div class="form-check mt-4">
            <%= history_form.label 'Have you had any operations for this pain?' %>
            <%= history_form.text_field :has_operation_for_pain, class: 'form-control w-100', placeholder: "Operation for the pain" %>
          </div>
          <div class="form-check mt-4">
            <%= history_form.label 'Additional details' %>
            <%= history_form.text_area :history_additional_details, class: 'form-control w-100', placeholder: "Additional Details" %>
          </div>
        <% end %>
        <br/>
        <br/>
        <hr/>
        <h2>6. EFFECTS OF INJURIES ON WORK AND LIFE STYLE</h2>
        <hr/>
        <div class="d-flex justify-content-center">
          <p>All fields marked with * are required and must be filled.</p>
        </div>
        <%= f.fields_for :injuries_effect_attributes do |effect_form| %>
          <div class="form-check mt-4">
            <h6>6.1 PSYCHOLOGICAL TRAUMA:</h6>
          </div>
          <div class="form-check mt-4">
            6.1.1 <%= effect_form.label 'Have you suffered any psychological symptoms *' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= effect_form.radio_button :suffered_psychological_sysptoms, true, class: 'form-check-input' %>
                <%= effect_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= effect_form.radio_button :suffered_psychological_sysptoms, false, class: 'form-check-input' %>
                <%= effect_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
            <%= effect_form.label 'If yes what is it' %>
            <div class="d-flex justify-content-between">
              <% InjuriesEffect.psychological_symptoms.keys.each do |value| %>
                <div class="form-check">
                  <%= effect_form.radio_button :psychological_symptoms, value, class: 'form-check-input' %>
                  <%= effect_form.label value.humanize, class: 'form-check-label' %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="form-check mt-4">
            6.1.2 <%= effect_form.label 'Has it resolved now?' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= effect_form.radio_button :psychological_symptoms_resolved, true, class: 'form-check-input' %>
                <%= effect_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= effect_form.radio_button :psychological_symptoms_resolved, false, class: 'form-check-input' %>
                <%= effect_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
          </div>
          <div class="form-check mt-4">
            6.1.3 <%= effect_form.label 'Have you had counseling' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= effect_form.radio_button :had_counseling, true, class: 'form-check-input' %>
                <%= effect_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= effect_form.radio_button :had_counseling, false, class: 'form-check-input' %>
                <%= effect_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
          </div>
          <div class="form-check mt-4">
            <h6>6.2 ON WORK:</h6>
          </div>
          <div class="form-check mt-4">
            6.2.1 <%= effect_form.label 'Have you taken any time off work?*' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= effect_form.radio_button :taken_holidays, true, class: 'form-check-input' %>
                <%= effect_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= effect_form.radio_button :taken_holidays, false, class: 'form-check-input' %>
                <%= effect_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
            <%= effect_form.label 'If yes, how long? ' %>
            <%= effect_form.text_field :total_holidays, class: 'form-control w-100', placeholder: "Number of holidays from work" %>
          </div>
          <div class="form-check mt-4">
            6.2.2 <%= effect_form.label 'Have you returned to work and working normally' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= effect_form.radio_button :returned_to_work, true, class: 'form-check-input' %>
                <%= effect_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= effect_form.radio_button :returned_to_work, false, class: 'form-check-input' %>
                <%= effect_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
          </div>
          <div class="form-check mt-4">
            6.2.3 <%= effect_form.label 'Have you had a phased return' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= effect_form.radio_button :phased_return, true, class: 'form-check-input' %>
                <%= effect_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= effect_form.radio_button :phased_return, false, class: 'form-check-input' %>
                <%= effect_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
          </div>
          <div class="form-check mt-4">
            6.2.4 <%= effect_form.label 'Any difficulty at work' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= effect_form.radio_button :any_difficulty_at_work, true, class: 'form-check-input' %>
                <%= effect_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= effect_form.radio_button :any_difficulty_at_work, false, class: 'form-check-input' %>
                <%= effect_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
            <%= effect_form.label 'Difficulties at work' %>
            <div class="d-flex justify-content-between">
              <%= effect_form.collection_check_boxes :difficulties_at_work, InjuriesEffect::DIFICULTIES_AT_WORK, :to_s, :to_s do |cb| %>
                <div class="form-check">
                  <%= cb.check_box %>
                  <%= cb.text %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="form-check mt-4">
            6.2.5 <%= effect_form.label 'Have you had any work adaptations to ease you index accident pain' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= effect_form.radio_button :any_work_adaption_for_pain, true, class: 'form-check-input' %>
                <%= effect_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= effect_form.radio_button :any_work_adaption_for_pain, false, class: 'form-check-input' %>
                <%= effect_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
          </div>
          <div class="form-check mt-4">
            <h6>6.3 DOMESTIC CIRCUMSTANCES AND SOCIAL HISTORY:</h6>
          </div>
          <div class="form-check mt-4">
            6.3.1 <%= effect_form.label 'Do you have difficulty with House work? *' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= effect_form.radio_button :any_difficulty_with_house_work, true, class: 'form-check-input' %>
                <%= effect_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= effect_form.radio_button :any_difficulty_with_house_work, false, class: 'form-check-input' %>
                <%= effect_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
            <%= effect_form.label 'Chores affected' %>
            <div class="d-flex justify-content-between">
              <%= effect_form.collection_check_boxes :difficulties_at_home, InjuriesEffect::DIFICULTIES_AT_HOME, :to_s, :to_s do |cb| %>
                <div class="form-check">
                  <%= cb.check_box %>
                  <%= cb.text %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="form-check mt-4">
            <%= effect_form.label 'Has the difficulty resolved' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= effect_form.radio_button :difficulty_resolved, true, class: 'form-check-input' %>
                <%= effect_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= effect_form.radio_button :difficulty_resolved, false, class: 'form-check-input' %>
                <%= effect_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
            <%= effect_form.label 'Resolved in' %>
            <%= effect_form.date_field :difficulty_resolved_in, class: 'form-control w-100', placeholder: "Resolved in" %>
          </div>
          <div class="form-check mt-4">
            6.3.2 <%= effect_form.label 'Was sleep a problem *' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= effect_form.radio_button :suffer_sleeping_problem, true, class: 'form-check-input' %>
                <%= effect_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= effect_form.radio_button :suffer_sleeping_problem, false, class: 'form-check-input' %>
                <%= effect_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
            <%= effect_form.label 'If yes, For how long? *' %>
            <%= effect_form.text_field :how_long_sleeping_problem, class: 'form-control w-100', placeholder: "Sleeping problem for how long" %>
          </div>
          <div class="form-check mt-4">
            6.3.3 <%= effect_form.label 'What tasks or activities are you having difficulty in carrying out? *' %>
            <%= effect_form.text_field :difficulty_in_activities, class: 'form-control w-100', placeholder: "Dificulties in activities" %>
          </div>
          <div class="form-check mt-4">
            <%= effect_form.label '6.3.4 Did you need any assistance *' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= effect_form.radio_button :need_any_assistance, true, class: 'form-check-input' %>
                <%= effect_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= effect_form.radio_button :need_any_assistance, false, class: 'form-check-input' %>
                <%= effect_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
            <%= effect_form.label 'Details of assistance' %>
            <%= effect_form.text_field :details_of_assistance, class: 'form-control w-100', placeholder: "Assistance details" %>
          </div>
          <div class="form-check mt-4">
            <h6>6.4 SPORTS AND LEISURE ACTIVITIES:</h6>
          </div>
          <div class="form-check mt-4">
            6.4 a. <%= effect_form.label 'Is your leisure or recreational activities limited by your symptoms? *' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= effect_form.radio_button :activities_limited_by_symptoms, true, class: 'form-check-input' %>
                <%= effect_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= effect_form.radio_button :activities_limited_by_symptoms, false, class: 'form-check-input' %>
                <%= effect_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
            6.4 b.<%= effect_form.label 'If yes, which activities restricted because of the injury' %>
            <%= effect_form.text_field :activities_restricted_by_injury, class: 'form-control w-100', placeholder: "Restricted activites" %>
          </div>
          <div class="form-check mt-4">
            <%= effect_form.label 'Is there any further information which should be brought to our attention?' %>
            <%= effect_form.text_field :further_injury_details, class: 'form-control w-100', placeholder: "Any further injury details" %>
          </div>
          <div class="form-check mt-4">
            6.4 c. <%= effect_form.label 'Have you returned to your activities? *' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= effect_form.radio_button :returned_to_activities, true, class: 'form-check-input' %>
                <%= effect_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= effect_form.radio_button :returned_to_activities, false, class: 'form-check-input' %>
                <%= effect_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
          </div>
          <div class="form-check mt-4">
            6.4 d.<%= effect_form.label 'Is there any further information you wish to provide? *' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= effect_form.radio_button :wish_to_provide_futher_info, true, class: 'form-check-input' %>
                <%= effect_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= effect_form.radio_button :wish_to_provide_futher_info, false, class: 'form-check-input' %>
                <%= effect_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
          </div>
          <div class="form-check mt-4">
            <%= effect_form.label 'Comments' %>
            <%= effect_form.text_field :injury_comments, class: 'form-control w-100', placeholder: "Provide comments" %>
          </div>
        <% end %>
        <br/>
        <br/>
        <hr/>
        <h2>7. CLINICAL EXAMNATION</h2>
        <hr/>
        <div class="d-flex justify-content-center">
          <h5>To be filled by the doctor, kindly go to the next page</h5>
        </div>
        <%= f.fields_for :clinical_examination_attributes do |examination_form| %>
          <div class="form-check mt-4">
            <h6>7.1 FIXED STATEMENT*</h6>
            <h6>The claimant examination was carried out with his express consent</h6>
          </div>
          <div class="form-check mt-4">
            <h6>7.2  NECK EXAMNATION*</h6>
            <%= examination_form.label 'Spasm' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= examination_form.radio_button :neck_spasm, true, class: 'form-check-input' %>
                <%= examination_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= examination_form.radio_button :neck_spasm, false, class: 'form-check-input' %>
                <%= examination_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
            <%= examination_form.label 'Deformities' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= examination_form.radio_button :neck_deformities, true, class: 'form-check-input' %>
                <%= examination_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= examination_form.radio_button :neck_deformities, false, class: 'form-check-input' %>
                <%= examination_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
            <%= examination_form.label 'Scars' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= examination_form.radio_button :neck_scars, true, class: 'form-check-input' %>
                <%= examination_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= examination_form.radio_button :neck_scars, false, class: 'form-check-input' %>
                <%= examination_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
            <%= examination_form.label 'Crepitus' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= examination_form.radio_button :neck_crepitus, true, class: 'form-check-input' %>
                <%= examination_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= examination_form.radio_button :neck_crepitus, false, class: 'form-check-input' %>
                <%= examination_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
            <%= examination_form.label 'Reflexes' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= examination_form.radio_button :neck_reflexes, true, class: 'form-check-input' %>
                <%= examination_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= examination_form.radio_button :neck_reflexes, false, class: 'form-check-input' %>
                <%= examination_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
            <%= examination_form.label 'Sensations' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= examination_form.radio_button :neck_sensations, true, class: 'form-check-input' %>
                <%= examination_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= examination_form.radio_button :neck_sensations, false, class: 'form-check-input' %>
                <%= examination_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
          </div>
          <div class="form-check mt-4">
            <h6>7.3  BACK EXAMINATION*</h6>
            <%= examination_form.label 'Spasm' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= examination_form.radio_button :back_spasm, true, class: 'form-check-input' %>
                <%= examination_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= examination_form.radio_button :back_spasm, false, class: 'form-check-input' %>
                <%= examination_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
            <%= examination_form.label 'Deformities' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= examination_form.radio_button :back_deformities, true, class: 'form-check-input' %>
                <%= examination_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= examination_form.radio_button :back_deformities, false, class: 'form-check-input' %>
                <%= examination_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
            <%= examination_form.label 'Scars' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= examination_form.radio_button :back_scars, true, class: 'form-check-input' %>
                <%= examination_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= examination_form.radio_button :back_scars, false, class: 'form-check-input' %>
                <%= examination_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
            <%= examination_form.label 'Crepitus' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= examination_form.radio_button :back_slr, true, class: 'form-check-input' %>
                <%= examination_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= examination_form.radio_button :back_slr, false, class: 'form-check-input' %>
                <%= examination_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
            <%= examination_form.label 'Reflexes' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= examination_form.radio_button :back_reflexes, true, class: 'form-check-input' %>
                <%= examination_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= examination_form.radio_button :back_reflexes, false, class: 'form-check-input' %>
                <%= examination_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
            <%= examination_form.label 'Sensations' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= examination_form.radio_button :back_sensations, true, class: 'form-check-input' %>
                <%= examination_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= examination_form.radio_button :back_sensations, false, class: 'form-check-input' %>
                <%= examination_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
          </div>
          <div class="form-check mt-4">
            <h6>7.4  OTHER JOINT EXAMINATION</h6>
            <%= examination_form.text_area :other_joint_examination, class: 'form-control w-100', placeholder: "Other joint examination" %>
          </div>
        <% end %>
        <br/>
        <br/>
        <hr/>
        <h2>8. MEDICAL RECORDS REVIEW</h2>
        <hr/>
        <div class="d-flex justify-content-center">
          <h5>To be filled by the doctor, kindly go to the next page</h5>
        </div>
        <%= f.fields_for :gp_record_attributes do |record_form| %>
          <div class="form-check mt-4">
            <h6>8.1  PROVIDED</h6>
            <div class="form-check">
              <%= record_form.radio_button :gp_record_provided, true, class: 'form-check-input' %>
              <%= record_form.label 'Yes', class: 'form-check-label' %>
            </div>
            <div class="form-check">
              <%= record_form.radio_button :gp_record_provided, false, class: 'form-check-input' %>
              <%= record_form.label 'No', class: 'form-check-label' %>
            </div>
          </div>
          <div class="form-check mt-4">
            <h6>8.2 PRE INDEX GP RECORD</h6>
            <%= record_form.text_field :pre_index_gp_record_one, class: 'form-control w-100', placeholder: "8.2.1" %><br/>
            <%= record_form.text_field :pre_index_gp_record_two, class: 'form-control w-100', placeholder: "8.2.2" %><br/>
            <%= record_form.text_field :pre_index_gp_record_three, class: 'form-control w-100', placeholder: "8.2.3" %><br/>
            <%= record_form.text_field :pre_index_gp_record_four, class: 'form-control w-100', placeholder: "8.2.4" %><br/>
            <%= record_form.text_field :pre_index_gp_record_five, class: 'form-control w-100', placeholder: "8.2.5" %><br/>
            <%= record_form.file_field :pre_index_gp_record_images, multiple: true, class: 'form-control w-100' %><br/>
          </div>
          <div class="form-check mt-4">
            <h6>8.3 POST INDEX GP RECORD</h6>
            <%= record_form.text_field :post_index_gp_record_one, class: 'form-control w-100', placeholder: "8.3.1" %><br/>
            <%= record_form.text_field :post_index_gp_record_two, class: 'form-control w-100', placeholder: "8.3.2" %><br/>
            <%= record_form.text_field :post_index_gp_record_three, class: 'form-control w-100', placeholder: "8.3.3" %><br/>
            <%= record_form.text_field :post_index_gp_record_four, class: 'form-control w-100', placeholder: "8.3.4" %><br/>
            <%= record_form.text_field :post_index_gp_record_five, class: 'form-control w-100', placeholder: "8.3.5" %><br/>
            <%= record_form.file_field :post_index_gp_record_images, multiple: true, class: 'form-control w-100' %><br/>
          </div>
          <div class="form-check mt-4">
            <h6>8.4 PRE ACCIDENT HOSPITAL RECORD</h6>
            <%= record_form.text_field :pre_accident_hospital_record_one, class: 'form-control w-100', placeholder: "8.4.1" %><br/>
            <%= record_form.text_field :pre_accident_hospital_record_two, class: 'form-control w-100', placeholder: "8.4.2" %><br/>
            <%= record_form.text_field :pre_accident_hospital_record_three, class: 'form-control w-100', placeholder: "8.4.3" %><br/>
            <%= record_form.text_field :pre_accident_hospital_record_four, class: 'form-control w-100', placeholder: "8.4.4" %><br/>
            <%= record_form.text_field :pre_accident_hospital_record_five, class: 'form-control w-100', placeholder: "8.4.5" %><br/>
            <%= record_form.file_field :pre_accident_hospital_record_images, multiple: true, class: 'form-control w-100' %><br/>
          </div>
          <div class="form-check mt-4">
            <h6>8.5 POST ACCIDENT HOSPITAL RECORD</h6>
            <%= record_form.text_field :post_accident_hospital_record_one, class: 'form-control w-100', placeholder: "8.5.1" %><br/>
            <%= record_form.text_field :post_accident_hospital_record_two, class: 'form-control w-100', placeholder: "8.5.2" %><br/>
            <%= record_form.text_field :post_accident_hospital_record_three, class: 'form-control w-100', placeholder: "8.5.3" %><br/>
            <%= record_form.text_field :post_accident_hospital_record_four, class: 'form-control w-100', placeholder: "8.5.4" %><br/>
            <%= record_form.text_field :post_accident_hospital_record_five, class: 'form-control w-100', placeholder: "8.5.5" %><br/>
            <%= record_form.file_field :post_accident_hospital_images, multiple: true, class: 'form-control w-100' %><br/>
          </div>
          <div class="form-check mt-4">
            <h6>8.6 PHYSIO RECORD</h6>
            <%= record_form.text_field :physio_record_one, class: 'form-control w-100', placeholder: "8.6.1" %><br/>
            <%= record_form.text_field :physio_record_two, class: 'form-control w-100', placeholder: "8.6.2" %><br/>
            <%= record_form.text_field :physio_record_three, class: 'form-control w-100', placeholder: "8.6.3" %><br/>
            <%= record_form.text_field :physio_record_four, class: 'form-control w-100', placeholder: "8.6.4" %><br/>
            <%= record_form.text_field :physio_record_five, class: 'form-control w-100', placeholder: "8.6.5" %><br/>
          </div>
        <% end %>
        <br/>
        <br/>
        <hr/>
        <h2>9. OPINION AND PROGNOSIS</h2>
        <hr/>
        <div class="d-flex justify-content-center">
          <h5>To be filled by the doctor, kindly go to the next page</h5>
        </div>
        <%= f.fields_for :opinion_attributes do |opinion_form| %>
          <div class="form-check mt-4">
            <h6>9.1 DIAGNOSIS AND CAUSATION*</h6>
            <%= opinion_form.text_field :diagnosis_and_causation, class: 'form-control w-100', placeholder: "Kindly fill in your injured parts" %>
          </div>
          <div class="form-check mt-4">
            9.2 <%= opinion_form.label 'IS THERE MEDICAL PROBLEMS OR COMPLICATIONS IN THE FUTURE AS A DIRECT CONSEQUENCE OF THE INJURIES SUSTAINED?*' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= opinion_form.radio_button :complications_in_future, true, class: 'form-check-input' %>
                <%= opinion_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= opinion_form.radio_button :complications_in_future, false, class: 'form-check-input' %>
                <%= opinion_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
          </div>
          <div class="form-check mt-4">
            9.3 <%= opinion_form.label 'IS THERE ANY ACCIDENTS SINCE INDEX ACCIDENT AFFECTING SYMPTOMS?*' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= opinion_form.radio_button :accident_since_index_accident, true, class: 'form-check-input' %>
                <%= opinion_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= opinion_form.radio_button :accident_since_index_accident, false, class: 'form-check-input' %>
                <%= opinion_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
          </div>
          <div class="form-check mt-4">
            9.4 <%= opinion_form.label 'IS THERE AN IMPACT OF PREVIOUS MEDICAL HISTORY?*' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= opinion_form.radio_button :impact_of_previous_medical_history, true, class: 'form-check-input' %>
                <%= opinion_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= opinion_form.radio_button :impact_of_previous_medical_history, false, class: 'form-check-input' %>
                <%= opinion_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
          </div>
          <div class="form-check mt-4">
            <h6>9.5 REASONABLENESS</h6>
            <h6>INCONVINIENCE</h6>
            <%= opinion_form.label 'Is the inconviniences suffered as described by the claimant reasonable?' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= opinion_form.radio_button :suffered_inconviniences, true, class: 'form-check-input' %>
                <%= opinion_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= opinion_form.radio_button :suffered_inconviniences, false, class: 'form-check-input' %>
                <%= opinion_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
          </div>
          <div class="form-check mt-4">
            <h6>WORK</h6>
            <%= opinion_form.label 'Is the effect of the injuries on the claimants work reasonable?' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= opinion_form.radio_button :effect_of_injurt_on_claimants_work_reasonable, true, class: 'form-check-input' %>
                <%= opinion_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= opinion_form.radio_button :effect_of_injurt_on_claimants_work_reasonable, false, class: 'form-check-input' %>
                <%= opinion_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
          </div>
          <div class="form-check mt-4">
            <h6>TREATMENT</h6>
            <%= opinion_form.label 'Is the treatment received for the severity of the injuries sustained reasonable?' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= opinion_form.radio_button :severity_of_injuries, true, class: 'form-check-input' %>
                <%= opinion_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= opinion_form.radio_button :severity_of_injuries, false, class: 'form-check-input' %>
                <%= opinion_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
          </div>
          <div class="form-check mt-4">
            <h6>9.6  PROSPECTS IN THE OPEN LABOUR MARKET</h6>
            <%= opinion_form.label 'On the balance of probabilities, do you think the chances of the claimant obtaining employment in the open job market' %><br/>
            <%= opinion_form.label 'should have been a disadvantage as a direct consequence of physical injuries sustained in the incident?' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= opinion_form.radio_button :consequences_of_physical_injuries, true, class: 'form-check-input' %>
                <%= opinion_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= opinion_form.radio_button :consequences_of_physical_injuries, false, class: 'form-check-input' %>
                <%= opinion_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
          </div>
          <div class="form-check mt-4">
            <h6>9.7  LIFE EXPECTANCY / EFFECT ON FUTURE LIFE</h6>
            <%= opinion_form.label 'Would the claimant life expectancy be affected as a result of the index accident?' %>
            <div class="d-flex justify-content-between w-50">
              <div class="form-check">
                <%= opinion_form.radio_button :claimant_life_expentancy, true, class: 'form-check-input' %>
                <%= opinion_form.label 'Yes', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= opinion_form.radio_button :claimant_life_expentancy, false, class: 'form-check-input' %>
                <%= opinion_form.label 'No', class: 'form-check-label' %>
              </div>
            </div>
          </div>
        <% end %>
        <br/>
        <br/>
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
        <br/>
        <br/>
      <% end %>
    </div>
  </div>
<% else %>
  <h1>Patient do not exist.</h1>
<% end %>
