<% if @patient.present? %>
  <div class="d-flex justify-content-center">
    <div>
      <div class="d-flex justify-content-center">
        <h1>Patient Report</h1>
      </div>
      <br/>
      <hr/>
      <div>
        <div class="d-flex flex-row-reverse bd-highlight">
          <div class="p-2 bd-highlight">
            <div data-controller="download-pdf">
              <!-- Your Trix editor content here -->
              <button data-action="click->download-pdf#downloadPdf">Download PDF</button>
            </div>
          </div>
        </div>
        <br/>
        <trix-editor input="injury-editor" class="trix-content" style="margin-left: 5%; margin-right: 5%;">
          <div><%= image_tag "medico logo.jpeg", width: '150', height: '150' %></div>
          <div>
            <h1 style="text-color: blue;">RISK ANALYSIS FORM & MEDICO-LEGAL QUESTIONNAIRE</h1>
          </div>
          <h2  style="text-transform: capitalize; font-weight: bold;">THIS REPORT IS ADDRESSED TO THE COURT</h2>
          <h2  style="text-transform: capitalize; font-weight: bold;">MEDICAL REPORT GENERATED: <%= Date.today.strftime("%d-%m-%Y") %></h2>
          <hr/>
          <div>
            <h2 >NAME: <%= @patient.first_name %>&nbsp;<%= @patient.sur_name %></h2>
          </div>
          <div>
            <h2>DATE OF BIRTH: <%= @patient.dob %></h2>
          </div>
          <div>
            <h2>ADDRESS: <%= @patient.city %>&nbsp;<%= @patient.state %></h2>
          </div>
          <div>
            <h2>DATE OF ACCIDENT: <%= @accident.date %></h2>
          </div>
          <div>
            <h2>DATE OF EXAMINATION: <%= @appointment.date %></h2>
          </div>
          <div>
            <h2>VENUE OF CONSULTATION: <%= @appointment.examination_venue %></h2>
          </div>
          <div>
            <h2>OCCUPATION: <%= @patient.ocuupation %></h2>
          </div>
          <div>
            <h2>TIME OFF WORK: <%= @appointment.any_time_off_work %></h2>
          </div>
          <div>
            <h2>VISIT AFTER THE ACCIDENT: <%= @appointment.visit_after_accident %></h2>
          </div>
          <div>
            <h2>IDENTIFICATION PROVIDED: <%= @appointment.identity_proof %></h2>
          </div>
          <div>
            <h2>REPORT REQUESTED BY: <%= @appointment.report_requested_by %></h2>
          </div>
          <div>
            <h2>SOLICITOR REF NO: <%= @appointment.solicitors_ref %></h2>
          </div>
          <br/>
          <div>
            <h1 style="text-color: blue;">ACCIDENT DETAILS</h1>
            <h2 style="text-transform: capitalize; font-weight: bold;">2.1 INJURIES SUSTAINED AS ADVISED BY THE CLAIMANT</h2>
          </div>
          <div>
            <p>2.1.1 <%= @patient.first_name.humanize %> was the <%= @accident.accident_victim %> of the vehicle which was involved in the Road Traffic Accident.</p>
            <p>2.1.2 The vehicle involved in the accident was a <%= @accident.vehicle %>.</p>
            <p>2.1.3 The third-party vehicle involved in the accident was a  <%= @accident.third_party_vehicle.humanize %></p>
            <p>2.1.4 The claimant was <%= @accident.seat_belted ? '' : 'not' %> seatbelted at the time of the impact.</p>
            <p>2.1.5 The claimant was <%= @accident.jolted_fwd_or_bwd ? '' : 'not' %> jolted forward and backwards when the accident happened.</p>
            <p>2.1.6 The accident happened at a <%= @accident.site_of_accident.humanize %>.</p>
            <p>2.1.7 The vehicle in which the claimant was travelling was <%= @accident.vehicle_fitted_with_head_restraint ? '' : 'not' %> fitted with a head restraint.</p>
            <p>2.1.8 The vehicle in which the claimant was travelling was <%= @accident.travelling_speed %> at the time of the accident.</p>
            <p>2.1.9 The third-party vehicle was moving at <%= @accident.third_party_vehicle_speed %>.</p>
            <p>2.1.10 The vehicle in which the claimant was travelling in was <%= @accident.vehicle_category.humanize %>.</p>
            <p>2.1.11 The claimant was looking  <%= @accident.where_were_you_looking_at.humanize %> at the time of impact.</p>
            <p>2.1.13 The claimant <%= @accident.hit_the_car_interior ? '' : 'did not' %> hit the inside of the vehicle in which he was travelling.</p>
            <p>2.1.14 The airbag was <%= @accident.air_bag_deployed ? '' : 'not' %> deployed at the point of the impact.</p>
            <p>2.1.15 The <%= @accident.accident_scene_attendees.humanize %> attended the scene of the accident.</p>
            <p>2.1.16 The claimant could <%= @accident.able_to_exit_your_vehicle_unaided ? '' : 'not' %> get out of the car after the index accident.</p>
            <p>2.1.17 The claimant was <%= @accident.state_after_accident.humanize %> as a result of the index accident.</p>
          </div>
        </trix-editor>
        <br/>
      </div>
      <!-- Repeat similar blocks for other associations -->
    </div>
  </div>
<% else %>
  <h1>No patient found</h1>
<% end %>
